@import "tailwindcss";

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
     /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }

    .transparent-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    }

    .transparent-scrollbar {
        scrollbar-width: thin;
        /* scrollbar-color: transparent; */
        scrollbar-color: #464545 transparent;
    }
}